* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    display: flex;
    width: 650px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-section {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    padding: 40px;
    width: 60%;
}
.right-section .existed-account {

}
.right-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.right-section p.existed-account {
    margin: 10px 0 0 0;
}
.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 0px;
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:hover {
    background-color: #218838;
}

.auth-options {
    margin-top: 20px;
    text-align: center;
}

.auth-options p {
    margin-bottom: -5px 0 0 5px;
    color: #555;
}

.auth-btn {
    width: 100px;
    padding: 9px;
    margin: 5px 0 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex inline;
    gap: 5px;
}

.auth-btn.google {
    background-color: #db4437;
    color: white;
}

.auth-btn.facebook {
    background-color: #3b5998;
    color: white;
}

.auth-btn.github {
    background-color: #333;
    color: white;
}

.auth-btn:hover {
    opacity: 0.9;
}
